<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thesisug"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:debuggable="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <service
            android:name="com.thesisug.authenticator.AuthenticationService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name="com.thesisug.synchronizator.SyncService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
            <meta-data
                android:name="android.provider.CONTACTS_STRUCTURE"
                android:resource="@xml/contacts" />
        </service>
        <service
            android:name="com.thesisug.notification.TaskNotification"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </service>
        <service
            android:name="com.thesisug.notification.ErrorNotification"
            android:exported="true" >
        </service>
	
        <receiver
            android:name="com.thesisug.notification.EventNotification"
            android:process=":remote" />
	<service
		    android:name="com.thesisug.location.ActivityRecognitionIntentService"
		    android:exported="true"
		    android:enabled = "false"
		    >
		</service>
        <activity
            android:name="com.thesisug.ui.Login"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.thesisug.ui.Register"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.thesisug.ui.ParentTab"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:supportsRtl="true"
            android:theme="@android:style/Theme.Holo"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

               
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thesisug.ui.Todo"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.thesisug.ui.Map"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="com.thesisug.location" >
                </action>
            </intent-filter>
        </activity>
        <activity
            android:name="com.thesisug.ui.Input"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.thesisug.ui.Preferences"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo" >
        </activity>
        <activity
            android:name="com.thesisug.ui.EditGPS"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thesisug.ui.ShowEvent"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@android:style/Theme.Holo"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateVisible|adjustPan" >
        </activity>
        <activity
            android:name="com.thesisug.ui.ShowTask"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@android:style/Theme.Holo"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateVisible|adjustPan" >
        </activity>
        <activity
            android:name="com.thesisug.ui.EditTask"
            android:label="@string/app_name"
            android:theme="@android:style/Theme" >
        </activity>
        <activity
            android:name="com.thesisug.ui.EditEvent"
            android:label="@string/app_name"
            android:theme="@android:style/Theme" >
        </activity>
        <activity
            android:name="com.thesisug.ui.HintList"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme" >
        </activity>
        <activity
            android:name="com.thesisug.ui.ManageGroupMenu"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@android:style/Theme.Holo"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.thesisug.ui.InviteToJoinGroup"
            android:label="@string/app_name"
            android:theme="@android:style/Theme" >
        </activity>
        <activity
            android:name="com.thesisug.ui.ViewGroupMembers"
            android:label="@string/app_name"
            android:theme="@android:style/Theme" >
        </activity>
        <activity
            android:name="com.thesisug.ui.SystemStatus"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@android:style/Theme.Holo"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.thesisug.ui.ViewAssertions"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@android:style/Theme.Holo"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thesisug.ui.Details_assertion_item"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@android:style/Theme.Holo"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.thesisug.ui.Details_assertion_action"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@android:style/Theme.Holo"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.thesisug.ui.Create_Assertion_item"
            android:label="@string/app_name"
            android:theme="@android:style/Theme" >
        </activity>
        <activity
            android:name="com.thesisug.ui.Create_Assertion_item_NoDb"
            android:label="@string/app_name"
            android:theme="@android:style/Theme" >
        </activity>
        <activity
            android:name="com.thesisug.ui.Create_Assertion_action"
            android:label="@string/app_name"
            android:theme="@android:style/Theme" >
        </activity>
        <activity
            android:name="com.thesisug.ui.Vote_ont_db"
            android:label="@string/app_name"
            android:theme="@android:style/Theme" >
        </activity>
        <activity
            android:name="com.thesisug.ui.Assertions"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo" 
            android:uiOptions="splitActionBarWhenNarrow">
        </activity>
        <activity
            android:name="com.thesisug.ui.AssertionsInfo"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo" 
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.thesisug.ui.ViewAssertions_Action"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@android:style/Theme.Holo"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thesisug.ui.PlacesTab"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.thesisug.ui.PrivatePlaces"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@android:style/Theme.Holo"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.thesisug.ui.PublicPlaces"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@android:style/Theme.Holo"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.thesisug.ui.Create_new_place"
            android:label="@string/app_name"
            android:theme="@android:style/Theme" >
        </activity>
        <activity
            android:name="com.thesisug.ui.SelectCategory"
            android:label="@string/app_name"
            android:theme="@android:style/Theme" >
        </activity>
        <activity
            android:name="com.thesisug.ui.DetailsPlace"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@android:style/Theme.Holo"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.thesisug.ui.SearchPublicPlace"
            android:label="@string/app_name"
            android:theme="@android:style/Theme" >
        </activity>
        <activity
            android:name="com.thesisug.ui.ListPlacesFound"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@android:style/Theme.Holo"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.thesisug.ui.InfoPrivatePlaces"
            android:label="@string/app_name"
            android:theme="@android:style/Theme" >
        </activity>
        <activity
            android:name="com.thesisug.ui.InfoPublicPlaces"
            android:label="@string/app_name"
            android:theme="@android:style/Theme" >
        </activity>
        <activity
            android:name="com.thesisug.ui.DetailsPlaceToVote"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@android:style/Theme.Holo"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.thesisug.ui.InfoListPlaceFound"
            android:label="@string/app_name"
            android:theme="@android:style/Theme" >
        </activity>
        <activity
            android:name="com.thesisug.ui.Create_new_place_gps"
            android:label="@string/app_name"
            android:theme="@android:style/Theme" >
        </activity>
		<activity 
		    android:name="com.thesisug.ui.NotificationSnooze" 
		    android:theme="@style/Theme.Transparent"
   			android:launchMode="singleTask"
		    android:taskAffinity=""
		    android:excludeFromRecents="true">
		</activity>
        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />

        <uses-library android:name="com.google.android.maps" />

        <!-- WIDGET -->

        <receiver android:name="com.thesisug.widget.ExampleAppWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.thesisug.widget.ExampleAppWidgetProvider.ACTION_HINT_SEARCH" />
                <action android:name="com.thesisug.widget.ExampleAppWidgetProvider.ACTION_OPEN_HINT_LIST" />
                <action android:name="com.thesisug.widget.ExampleAppWidgetProvider.ACTION_NEW_HINT_FOUND" />
                <action android:name="com.thesisug.widget.ExampleAppWidgetProvider.ACTION_NO_HINT_FOUND" />
                <action android:name="com.thesisug.widget.ExampleAppWidgetProvider.ACTION_NEXT_TASK" />
                <action android:name="com.thesisug.widget.ExampleAppWidgetProvider.ACTION_PREV_TASK" />
                <action android:name="com.thesisug.widget.ExampleAppWidgetProvider.ACTION_NEXT_HINT" />
                <action android:name="com.thesisug.widget.ExampleAppWidgetProvider.ACTION_PREV_HINT" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_appwidget_info" />
        </receiver>
        <!-- Added 7/04/2013 for Google Maps Android Api key v2 by Alberto Servetti -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAHEZ9yEq-7AxzYBnr9f4l7j_0P9TMvOps" />
        <!--  -->
        <activity
            android:name="com.thesisug.location.WifiRequest"
             android:theme="@style/Theme.Transparent"
   			android:launchMode="singleTask"
		    android:taskAffinity=""
		    android:excludeFromRecents="true" >
        </activity>
        <activity
            android:name="com.thesisug.location.GpsRequest"
             android:theme="@style/Theme.Transparent"
   			android:launchMode="singleTask"
		    android:taskAffinity=""
		    android:excludeFromRecents="true" >
        </activity>
    </application>

    <uses-sdk
        android:name="com.thesisug.MAPS_RECEIVE"
        android:minSdkVersion="17"
        android:protectionLevel="signature"
        android:targetSdkVersion="17" />

    <uses-permission android:name="com.thesisug.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
     The following two permissions are not required to use
     Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <!--  -->

</manifest>